@media only screen and (max-width:1840px) {
    .wrap-right {
        width: 500px;
        height: 400px;
    }

    .content {
        width: 1800px;
    } 

    .container-header {
        width: 1800px;
    }

    .wrapper-3 {
        width: 100%;
    }
}